* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #8ae9b3;
  background-image: linear-gradient(315deg, #b2e8ca 0%, #e1e9f0 74%);
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
}

html {
  height: 100vh;
}

.main-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  margin-top: 0;
  justify-content: center;
}

.navbar {
  background-color: #8ae9b3;
}

.main-container {
  width: 100%;
  padding: 0;
  justify-content: center;
}

.choose-level-text {
  margin: 40px auto;
  text-align: center;
  width: 80%;
}

.level-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.lvl-btn {
  width: 10%;
  padding: 10px;
  font-size: 2rem;
  letter-spacing: .3rem;
  background-color: transparent;
  border: 1px solid #26b667;
  box-sizing: border-box;
  color: #00132C;
  font-size: 3rem;
  font-weight: 500;
  line-height: 24px;
  padding: 32px 46px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 0px;
  margin-right: 20px;
  margin-top: 40px;
}

.lvl-btn:hover,
.lvl-btn:active:focus {
  outline: 0;
  background-color: #88dcad;
  border: 1px solid #26b667;
  cursor: pointer;
}

.lvl-btn:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.lvl-btn:hover:before {
  background-color: #8bf4c1;
}

.link-btn a, a:hover {
  color: white;
  text-decoration: none;
}

.start-btn {
  display: block;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  width: 25%;
  min-width: 150px;
}

.card-button-container {
  margin-top: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 7px;
  
}

.card-container {
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px;
  border-radius: 1px;
  width: 100%;
  min-width: 320px;
  min-height: 200px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: 	rgba(249, 246, 238, 0.562);
}

.translation {
  color: rgb(179,139,88);
  margin: auto;
  font-size: 35px;
}

.word {
  color: rgb(20,39,78);
  font-size: 40px;
}

.example {
  color: rgb(81,115,81);
  font-style: italic;
}

.next-word-button,
.show-answer-button,
.previous-card-button {
  width: 10%;
  padding: 10px;
  letter-spacing: .2rem;
  background-color: transparent;
  border: 1px solid #26b667;
  box-sizing: border-box;
  color: #00132C;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 0px;
  margin-right: 20px;
  margin-top: 40px;
  margin: auto;
  width: 40%;
  min-width: 320px;
  &:hover, &:focus-within {
    box-shadow: 0 0 0 2px #16C79A, 0 10px 60px 0 rgba(#000, .1);
    transform: translatey(-2px);
  }
}

.next-word-button:active:focus {
  background-color: transparent;
  color:  rgb(25, 92, 92);
  border: 1px solid darkcyan;
}

.show-answer-button:active:focus {
  background-color: darkcyan;
}

.previous-card-button:active:focus {
  background-color: rgb(204, 171, 83);
}

.next-word-button:hover {
  background-color: #92e4bc;
  color:  rgb(25, 92, 92);
  border: 1px solid darkcyan;
}

.previous-card-button:hover { 
  background-color: rgb(204, 171, 83);
  border: 1px solid  rgb(204, 171, 83);
  color:  rgb(25, 92, 92);
}

.show-answer-button {
  background-color: darkcyan;
  border: 1px solid darkcyan;
}

.show-answer-button:hover {
  background-color: rgb(25, 92, 92);
  border: 1px solid rgb(25, 92, 92);
}



.german-answer-hidden {
  display: none;
}

.not-chosen-level-btn {
  padding: 20px;
  background-color: #16C79A;
  border: none;
  font-style: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.disabled-previous-card {
  background-color: rgba(233, 196, 94, 0.348);
}

.previous-card-button {
  background-color: rgb(233, 196, 94);
  border: 1px solid rgb(233, 196, 94);
}

.all-words-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  margin-top: 30px;
}

.word-container {
  height: 150px;
  width: 30%;
  border: 1px solid lightblue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.german-word {
  color:  rgb(20,39,78);
  font-weight: bold;
}

.english-word {
  color: rgb(179,139,88);
}

.example-line {
  color: rgb(81,115,81);
  font-style: italic;

}

.level-sign {
  margin-left: 5px;
  margin-top: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 12px;
  font-weight: bold;
  color:darkgreen;
}

.search-word-text {
  padding-left: 4px;
  margin-bottom: 0;
  width: 250px;
  text-align: center;
  font-weight: bold;
}

.card-picture-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  align-items: center;
  margin-top: 20px;
}

.card-picture {
  width: 325px;
  height: 210px;
  border-radius: 1px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.105) 0px 3px 8px;
  margin-bottom: 0;
  object-fit: cover;
}


@media (min-width: 768px) {
  .lvl-btn {
    padding: 16px 32px;
  }
}

@media (max-width: 600px) {
  .level-buttons {
    display: flex;
    flex-direction: column;
  }

  .lvl-btn {
    margin: auto;
    margin-bottom: 20px;
    padding: 32px 32px;
    width: 60%;
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .level-buttons {
    display: flex;
    flex-direction: row;
  }

  .lvl-btn {
    margin: auto;
    margin-bottom: 20px;
    padding: 16px 32px;
    width: 15%;
    margin-top: 20px;
    text-align: center;
  }
}